body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #b3b3b4;
    color:rgb(33, 22, 190);

    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

;

}

h1 {

    color:blueviolet;
}



h1.title {
    color:aqua;

}
.description {
    color:rgb(255, 0, 21);
}
img{
    width: calc(50vw +200px);
    height: auto;

}